<div style="display: flex;align-items: center;justify-content: space-around;">
  <div>
    <h1>NgTalk</h1>
    <p>Fully featured chat module for Angular applications.</p>
  </div>
  <div>
    <h3>Settings</h3>
    <div>
      <label>
        Adapter
        <select [(ngModel)]="adapter" (ngModelChange)="adapterChanged()">
          <option [ngValue]="demoAdapter">Demo</option>
          <option>Google firestore (deprecated adapter!)</option>
        </select>
      </label>
    </div>
    <div>
      <label>
        Show avatars
        <input type="checkbox" [(ngModel)]="chatSettings.showAvatars"/>
      </label>
    </div>
    <div>
      <label>
        Show names
        <input type="checkbox" [(ngModel)]="chatSettings.showNames"/>
  </label>
</div>
<div>
  <label>
    Message class
    <select [(ngModel)]="chatSettings.messageClass">
      <option value="">None</option>
      <option value="animated fadeIn">fadeIn</option>
      <option value="animated fadeInUp">fadeInUp</option>
      <option value="animated zoomInUp">zoomInUp</option>
      <option value="animated bounceInUp">bounceInUp</option>
    </select>
  </label>
</div>
  </div>
</div>
<h3>Channels</h3>
<ng-talk-channel-list [user]="user" [adapter]="adapter" [settings]="chatSettings" />
